# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.cmd
target/
ad.
!/ad
/ad
*.jar
/src/main/java/com/controller/test2.java
/src/main/java/com/controller/asda.java
!/src/main/java/com/controller/test2.java
/src/main/java/com/controller/ko.java
!/.gitignore
### Example user template template
### Example user template

/src/main/java/com/springdemo2.test/
/src/main/java/com/controller/asda.java

